<script src="{{ assets['ext/material/material.min.js'] }}" defer></script>

<script src="{{ assets['ext/jquery.min.js'] }}" defer></script>
<script src="{{ assets['ext/moment.min.js'] }}" defer></script>
<script src="{{ assets['ext/hammer.min.js'] }}" defer></script>

<script src="{{ assets['ext/slick/slick.min.js'] }}" defer></script>

<script src="{{ assets['ext/highlight/highlight.min.js'] }}" defer></script>
<script src="{{ assets['ext/highlight/dockerfile.min.js'] }}" defer></script>
<script src="{{ assets['ext/highlight/yaml.min.js'] }}" defer></script>

<script src="{{ assets['app.js'] }}" defer></script>
<script src="{{ assets['datetime.js'] }}" defer></script>
<script src="{{ assets['swipe.js'] }}" defer></script>
<script src="{{ assets['github.js'] }}" defer></script>
<script src="{{ assets['dockerhub.js'] }}" defer></script>

<script>
    window.TabTitles = {};
    {% for tab in tabs %}
        {% if tab.seo and tab.seo.title %}
        window.TabTitles['{{ tab.key }}'] = '{{ tab.seo.title }}';
        {% endif %}
    {% endfor %}
</script>
