<script src="https://code.getmdl.io/1.3.0/material.min.js" defer></script>

<script src="//cdn.jsdelivr.net/jquery/3.2.1/jquery.min.js" defer></script>
<script src="//cdn.jsdelivr.net/momentjs/2.18.1/moment.min.js" defer></script>

<script src="//cdn.jsdelivr.net/jquery.slick/1.6.0/slick.min.js" defer></script>

<script src="//cdn.jsdelivr.net/highlight.js/9.11.0/highlight.min.js" defer></script>
<script src="//cdn.jsdelivr.net/highlight.js/9.11.0/languages/dockerfile.min.js" defer></script>
<script src="//cdn.jsdelivr.net/highlight.js/9.11.0/languages/yaml.min.js" defer></script>

<script src="{{ assets['app.js'] }}" defer></script>
<script src="{{ assets['datetime.js'] }}" defer></script>
<script src="{{ assets['github.js'] }}" defer></script>
<script src="{{ assets['dockerhub.js'] }}" defer></script>
<script src="{{ assets['googleplay.js'] }}" defer></script>