<footer class="mdl-mini-footer">
    <div class="mdl-mini-footer__left-section">
        <div class="mdl-logo">{{ settings.title }}</div>
    </div>
    <div class="mdl-mini-footer__right-section">
        <ul class="mdl-mini-footer__link-list">
            {% for link in footer.links %}
                <li>
                {% if link.href is defined %}
                    <a href="{{ link.href }}">{{ link.title }}</a>
                {% else %}
                    {{ link.title }}
                {% endif %}
                </li>
            {% endfor %}
        </ul>
    </div>
</footer>