<header class="mdl-layout__header mdl-layout--no-drawer-button
               mdl-layout__header--waterfall mdl-layout__header--waterfall-hide-top">
    <div class="mdl-layout__header-row">
        <span class="mdl-layout__title">{{ settings.title }}</span>
    </div>
    <div class="mdl-layout__tab-bar mdl-js-ripple-effect mdl-layout__tab-manual-switch">
        {% for tab in tabs %}
        <a id="tab-{{ tab.key }}" href="/page/{{ tab.key }}"
           class="mdl-layout__tab{% if selected_tab == tab.key %} is-active{% endif %}">{{ tab.title }}</a>
        {% endfor %}
    </div>
</header>
