<link rel="stylesheet" href="{{ assets['styles.css'] }}" type="text/css">
<link rel="stylesheet" href="{{ assets['ext/material.min.css'] }}" type="text/css"/>

<link rel="stylesheet" href="{{ assets['ext/roboto-fonts.css'] }}" type="text/css"/>
<link rel="stylesheet" href="{{ assets['ext/material-icons.css'] }}" type="text/css"/>

<link rel="stylesheet" href="{{ assets['ext/slick.css'] }}" type="text/css"/>
<link rel="stylesheet" href="{{ assets['ext/slick-theme.css'] }}" type="text/css"/>

<link rel="stylesheet" href="{{ assets['ext/highlight.min.css'] }}" type="text/css"/>
