<link rel="stylesheet" href="{{ assets['styles.css'] }}" type="text/css"/>

<link rel="stylesheet" href="{{ assets['ext/material/fonts.css'] }}" type="text/css"/>
<link rel="stylesheet" href="{{ assets['ext/material/icons.css'] }}" type="text/css"/>
<link rel="stylesheet" href="{{ assets['ext/material/material.min.css'] }}" type="text/css"/>

<meta name="custom-fetch-css" content="{{ assets['ext/slick/slick.css'] }}"/>
<meta name="custom-fetch-css" content="{{ assets['ext/slick/slick-theme.css'] }}"/>
<meta name="custom-fetch-css" content="{{ assets['ext/highlight/highlight.min.css'] }}"/>
