{% for card in specs_cards %}
<div class="mdl-card mdl-shadow--4dp mdl-cell mdl-cell--6-col mdl-cell--top"
     id="specs-card-{{ card.key }}">

    <div class="mdl-card__title mdl-card--border mdl-color--cyan mdl-color-text--white">
        <h2 class="mdl-card__title-text">{{ card.title }}</h2>
    </div>
    
    {% if card.image is defined %}
        {% if card.image.display is defined %}
        <div class="mdl-card__media mdl-card--border mdl-color--cyan">
            <img src="{{ assets['images/' + card.image.path] }}">
        </div>
        {% else %}
        <div class="mdl-card__media mdl-card--border mdl-color--cyan"
             style="background: url({{ assets['images/' + card.image] }}) center / cover"></div>
        {% endif %}
    {% endif %}

    <div class="mdl-card__supporting-text markdown">
        {{ markdown(read('specs/' + card.body))|safe }}
    </div>

</div>
{% endfor %}
